.version.index /* version checker */
{
	color: #000005;
	background-color: #26FB76;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu75
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: -12px;
}

#u75
{
	z-index: 2;
	width: 175px;
}

#buttonu243
{
	z-index: 16;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-top: 59px;
}

#buttonu243:hover
{
	width: 169px;
	min-height: 0px;
	margin: 59px 0px 0px 6px;
}

#buttonu243.ButtonSelected
{
	width: 169px;
	min-height: 0px;
	margin: 59px 0px 0px 6px;
}

#u245-4
{
	z-index: 17;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu243:hover #u245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu256
{
	z-index: 46;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
}

#buttonu256:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px 0px 0px 6px;
}

#u257-4
{
	z-index: 47;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu243.ButtonSelected #u245-4,#buttonu256:hover #u257-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu258
{
	z-index: 51;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
}

#buttonu256.ButtonSelected,#buttonu258:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px 0px 0px 6px;
}

#u259-4
{
	z-index: 52;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu256.ButtonSelected #u257-4,#buttonu258:hover #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu263
{
	z-index: 56;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
}

#buttonu258.ButtonSelected,#buttonu263:hover
{
	width: 169px;
	min-height: 0px;
	margin: 0px 0px 0px 6px;
}

#buttonu263.ButtonSelected
{
	width: 169px;
	min-height: 0px;
	margin: 0px 0px 0px 6px;
}

#u264-4
{
	z-index: 57;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu258.ButtonSelected #u259-4,#buttonu263:hover #u264-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu265
{
	z-index: 61;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-top: 1px;
}

#buttonu265:hover
{
	width: 169px;
	min-height: 0px;
	margin: 1px 0px 0px 6px;
}

#buttonu265.ButtonSelected
{
	width: 169px;
	min-height: 0px;
	margin: 1px 0px 0px 6px;
}

#u266-4
{
	z-index: 62;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu263.ButtonSelected #u264-4,#buttonu265:hover #u266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu246
{
	z-index: 21;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-top: 26px;
}

#buttonu246:hover
{
	width: 169px;
	min-height: 0px;
	margin: 26px 0px 0px 6px;
}

#buttonu246.ButtonSelected
{
	width: 169px;
	min-height: 0px;
	margin: 26px 0px 0px 6px;
}

#u247-4
{
	z-index: 22;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu265.ButtonSelected #u266-4,#buttonu246:hover #u247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu248
{
	z-index: 26;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-top: 11px;
}

#buttonu248:hover
{
	width: 169px;
	min-height: 0px;
	margin: 11px 0px 0px 6px;
}

#buttonu248.ButtonSelected
{
	width: 169px;
	min-height: 0px;
	margin: 11px 0px 0px 6px;
}

#u249-4
{
	z-index: 27;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu246.ButtonSelected #u247-4,#buttonu248:hover #u249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu250
{
	z-index: 31;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-top: 9px;
}

#buttonu250:hover
{
	width: 169px;
	min-height: 0px;
	margin: 9px 0px 0px 6px;
}

#u251-4
{
	z-index: 32;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu248.ButtonSelected #u249-4,#buttonu250:hover #u251-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu252
{
	z-index: 36;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-top: 9px;
}

#buttonu250.ButtonSelected,#buttonu252:hover
{
	width: 169px;
	min-height: 0px;
	margin: 9px 0px 0px 6px;
}

#u253-4
{
	z-index: 37;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu250.ButtonSelected #u251-4,#buttonu252:hover #u253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu254
{
	z-index: 41;
	width: 169px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-top: 9px;
}

#buttonu252.ButtonSelected,#buttonu254:hover
{
	width: 169px;
	min-height: 0px;
	margin: 9px 0px 0px 6px;
}

#buttonu254.ButtonSelected
{
	width: 169px;
	min-height: 0px;
	margin: 9px 0px 0px 6px;
}

#u255-4
{
	z-index: 42;
	width: 119px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 22px;
}

#buttonu252.ButtonSelected #u253-4,#buttonu254:hover #u255-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#buttonu254.ButtonSelected #u255-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 119px;
	margin: 6px -10000px 0px 0px;
}

#ppu164
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -12px;
	margin-left: 198px;
}

#pu164
{
	width: 0.01px;
	margin-left: 109px;
}

#u164
{
	z-index: 14;
	width: 392px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u134
{
	z-index: 4;
	width: 31px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 464px;
}

#u140
{
	z-index: 6;
	width: 34px;
	margin-right: -10000px;
	left: 495px;
}

#u146
{
	z-index: 8;
	width: 39px;
	margin-right: -10000px;
	left: 614px;
}

#u393
{
	z-index: 66;
	width: 762px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u398
{
	z-index: 68;
	width: 762px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u403
{
	z-index: 70;
	width: 762px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u152
{
	z-index: 10;
	width: 39px;
	margin-right: -10000px;
	margin-top: -12px;
	left: 960px;
}

#u158
{
	z-index: 12;
	width: 39px;
	margin-right: -10000px;
	margin-top: -12px;
	left: 999px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

